<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45"/>
  <package id="Selenium.WebDriver" version="3.14.0" targetFramework="net45"/>
  <package id="Selenium.Support" version="3.14.0" targetFramework="net45"/>
  <!--
	'OpenQA.Selenium.Support.PageObjects.PageFactory' is obsolete: 'The PageFactory implementation in the .NET bindings is deprecated and will be removed in a future release. This portion of the code has been migrated to the DotNetSeleniumExtras repository on GitHub
   -->
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net45"/>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net45"/>
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net45"/>
  <package id="FluentAssertions" version="4.4.0" targetFramework="net45"/>
  <package id="Selenium.Firefox.WebDriver" version="0.22.0" targetFramework="net45"/>
  <package id="Selenium.WebDriver.ChromeDriver" version="2.44.0" targetFramework="net45"/>
  <package id="WebDriver.IEDriverServer.win32" version="3.9.0" targetFramework="net45"/>
  <!-- nuget versions:
	 v.10.0.17134.0
     - For Edge version supported: 17.17134.
     v.10.0.16299.0
     - For Edge version supported: 16.16299.
     v.10.0.15063.0
     - For Edge version supported: 15.15063.
     v.10.0.14393.1
     - Remove PowerShell script from package.
     v.10.0.14393.0
     - For Edge version supported: 14.14393.
     v.10.0.10586.0
     - For Windows 10 Fall 2015 Update.
     v.10.0.10240.0
     - First version released.
To find your correct build number: Go to Start > Settings > System > About and locate the number next to OS Build on the screen. This is your build number. Having the correct version of WebDriver for your build ensures it runs correctly.
See also: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/
-->
  <package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.15063" targetFramework="net45"/>
</packages>
